nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* flex-direction: row; */
}

#projects {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    padding: 0;
}

#projects article {
    border: 2px solid black;
    margin: 8px;
    padding: 2px;
    width: 30%;
}

#projects article img {
    width: 80%;
    margin: 0 10%;
}

#projects article h2 {
    text-align:center;
}

li, li a, article a {
    text-decoration: none;
    list-style-type: none;
}