html, body {
    margin: 0;
    padding: 0;
    background-color: #ececec;
  }
  
  #sizeInput h3, #widthInput h3 {
    margin: 0 0 1.5em;
  }
  
  #WhitePlayer, #BlackPlayer, #sliders {
    background-color: white;
    border: 5px solid black;
    padding: 10px 50px;
  }
  
  canvas {
    display: block;
  }
  
  #PlayerOptions {
    margin: 20px;
    display: flex;
    justify-content: space-around;
  }
  
  #PlayerOptions div {
    text-align: center;
  }
  
  #submitbox {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  #selector {
    display: flex;
    justify-content:space-between;
    height: 50px;
  }
  
  #inputs {
    display: flex;
  }
  
  #main {
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
  }
  
  #main p {
    font-size: 20px;
  }
  
  #main div {
    text-align: center;
    margin: 0 20px;
    background-color: white;
    border: 5px solid black;
    padding: 0 20px;
  }
  
  #about {
    flex: 1 1 10px;
  }
  
  main canvas {
    padding: 20px;
  }