html, body {
  margin: 0;
  padding: 0;
  background-color: #EDEBEB;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 40px;
}

h1 {
  color: #990000;
  text-align: left;
  font-size: 48px;
  margin: 10px 0 0 0;
  text-decoration: underline;
}

canvas {
  display: block;
}

#boardCenter {
  width: 100%;
  display:flex;
  justify-content: center;
  padding: 10px 0;
}

#boardBorder {
  background-color: #FFFFFF;
  margin: 0;
  width: 550px;
  height: 550px;
  border: 5px solid #990000;
  padding: 20px;
}

#board {
  background-color: #FFFFFF;
  display: flex;
  position:absolute;
  margin: 0;
}

#row {
  position:absolute;
  top: 150px;
  height: 500px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#col {
  position:absolute;
  left: 150px;
  height: 150px;
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#col textarea {
  width: 21px;
  height: 146px;
}

#row textarea {
  width: 146px;
  height: 21px;
}

.p5Canvas {
  position: absolute;
  top: 150px;
  left: 150px;
}

.schtuff {
  background-color: #FFFFFF;
  display: flex;
  border: 5px solid #990000;
  padding: 10px;
  margin: 0 40px 0 0 ;
  width:fit-content;
}

.header a {
  align-self: flex-start;
  color: #990000;
  text-decoration: none;
}

.header a:hover {
  text-decoration: underline;
}

#buttons {
  display: flex;
}

#buttons div {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}

button {
  margin-bottom: 15px;
  background-color: #990000;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #7A0000;
}

.allsliders {
  display: flex;
}

.slidecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hvr-skew-backward {
  margin: 10px 20px;
  padding: 10px 20px;
  color: white;
  background-color: #990000;
  text-decoration: none;
}

.hvr-skew-backward:hover {
  background-color: #7A0000;
}

.slider {
  margin-top: 12px;
  -webkit-appearance: none;
  appearance: none;
  height: 8px;
  outline: none;
  background: #d3d3d3;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #990000;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #990000;
  cursor: pointer;
}
